* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-content{
    display: flex;
    background: lightcoral;
    flex: 1 1 10%;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: blue;
}

.right-side {
    flex: 3;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 45%;
    background: lightseagreen;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex: 1 1 35%;
    background: white;
    justify-content: space-between;
}

.main-box {
    flex-basis: 50%;
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-extra {
    flex-basis: 25%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.section-extra > .image{
    flex: 1;
    background-color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-extra > .extra{
    flex: 1;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    flex: 1 1 10%;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-media {
    display: none;
}

@media screen and (max-width:535px) {
    .header-content{
        flex-direction: column;
    }

    .left-side {
        order: 1;
        flex: 2;
    }

    .right-side {
        order: 2;
        flex: 2;
    }

    .center {
        order: 3;
        flex: 3;
    }

    .main-box {
        order: 4;
        flex: 3;
    }

    .banner {
        display: none;
    }

    .banner-media {
        order: 5;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
    }

    .main-content {
        flex-direction: column;
        justify-content: flex-start;
    }

    .section-extra {
        flex-basis: 50%;
        order: 6;
    }
    
}